.logo{
    color: red;
    border: 2px solid black;
    font-size: 100px;
    margin: 10px;
    padding:10px;
    text-decoration:none;
    background-image: url(134.jpg);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}
#kk{
    text-decoration: none;
}
#img{
    background-image: url(134.jpg);
    width: 100px;
    height: auto;
    padding:10px;   
}
.link{
    text-decoration:none;
    color: black;
    padding: red;
    font-size: 25px;
}

#hype{
    background-image:url(photo-1434725039720-aaad6dd32dfe.avif);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.font{
    color: aqua;
}
